.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #bada55;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.button-icon {
  margin-top: -2px;
}

.button-icon svg {
  fill: #fff;
}
